
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>CSV Web App</title>
  <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <a href="/">Inicio</a> |
    <a href="/head">Head</a> |
    <a href="/tail">Tail</a> |
    <a href="/info">Info</a> |
    <a href="/columns">Columnas</a> |
    <a href="/shape">Shape</a> |
    <a href="/describe">Describe</a> |
    <a href="/select_one">Seleccionar 1</a> |
    <a href="/select_many">Seleccionar N</a> |
    <a href="/filter">Filtrar</a>
  </nav>
  <hr>
  {% block content %}{% endblock %}
</body>
</html>
